<% include header%>
Main Page
<% posts.forEach(function(post,index){%>
<p><h2><a href="#"><%= post.title%></a></h2></p>
<p> 
Author: <a href="#"><%= post.name%></a>
Date:<%= post.time.minute%>
</p>
<p><%- post.post%></p>
<%})%>
<% include footer%>