<a href="/login/github">Use Github login</a>
<%include header%>
<form method="post">
  username: <input type="text" name="name" /><br/>
  password: <input type="text" name="password"><br/>
  <input type="submit" value="login">
</form>
<%include footer%>