<%include header%>
<form method="post">
  name: <input type="text" name="name" /><br/>
  password: <input type="password" name="password" /><br/>
  confirm password: <input type="password" name="password-confirm"/><br/>
  mail: <input type="text" name="email"><br/>
  <input type="submit" value="register">
</form>
<%include footer%>